<% @posts.each do |post| %>

<p><%= post.content %></p>

  <% if post.images.attached? %>
    <div class="images">
      <% post.images.each do |image| %>
        <%= image_tag image %>
      <% end %>
    </div>
  <% end %>
<% end %>
